---
name: release

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - << default_branch >>

permissions:
  contents: write

jobs:
  release:
    uses: hugoh/gh-workflows/.github/workflows/release.yml@<< gh_workflows_ref >>
    permissions:
      contents: write
<% if action %>
    with:
      major-tag: true
<% endif %>
