name: << repo_name >>
description: >-
  TODO: one-line description of what this action does.
branding:
  icon: zap
  color: blue
inputs:
  example:
    description: TODO
    required: false
    default: ""
runs:
  using: composite
  steps:
    - shell: bash
      run: |
        echo "TODO: implement << repo_name >>"
