---
name: hk

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - << default_branch >>
  pull_request:

permissions: {}

jobs:
  hk:
    uses: hugoh/gh-workflows/.github/workflows/hk.yml@<< gh_workflows_ref >>
    permissions:
      contents: read
      packages: read
      statuses: write
<% if pre_hk or apt_packages %>
    with:
<% if pre_hk %>
      pre-hk: << pre_hk >>
<% endif %>
<% if apt_packages %>
      apt-packages: << apt_packages >>
<% endif %>
<% endif %>
