---
name: pages

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - << default_branch >>
  workflow_dispatch: {}

permissions: {}

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: hugoh/gh-workflows/setup@<< gh_workflows_ref >>
      - name: Build site
        run: << pages_build_cmd >>
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: << pages_dir >>

  deploy:
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
